body {
/* margin: 50px; */
background-color: #6f81cf;
filter: hue-rotate(20deg);
}

.header {
    padding-top: 0vw;
    font-size: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: helvetica neue;
    letter-spacing: -1.5px; 
    color: #ef845e;
}


#website {
    width: 80vw;
    margin-top: 20vh;
    display: flex;
    justify-content: right;
    align-items: right;
}

#sticker {
    width: 40vw;
    opacity: 90%;
    filter: hue-rotate(-20deg);
    position: absolute;
}

/* #website:hover{
    filter: drop-shadow(0 0 1rem rgb(160, 115, 57));
    opacity: 100%;
    transition: all 0.5s ease;
    } */


hr{
    border: none;
    background-color: #ef845e;
    height: 2px;
}

h1{
    color: #ef845e;
    text-transform: uppercase;
    font-family: helvetica;
    font-weight: 500;
    font-size: 149px;
    letter-spacing: -6px;
    line-height: 80%;
}

h3 {
    color: #ef845e;
    text-transform: uppercase;
    font-family: helvetica neue;
    font-weight: 400;
    font-size: 3vh;
    margin: 0;
}

.webring {
    margin: 1vh;
    border-style: solid;
    border-color: #ef845e;
    border-width: .3vh;
    width: 22vw;
    height: .05vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6vh;
}

.masterwebring {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
   
}

.buttoncontainer {
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: right;
    /* position: absolute; */
}

.buttons {
    color: #6f81cf;
    background-color: #ef845e;
    margin: 2vh;
    height: 3vh;
    line-height: 3vh;
    border-radius: 5vh;
    align-self: right;
    /* width: fit-content; */
    white-space: pre;
    width: 50%;
}

h2{
    color: #ef845e;
    text-transform: uppercase;
    font-family: helvetica;
    font-weight: 300;
    font-size: 5vw;
    margin: 0;
    letter-spacing: -0.05em; 
    text-align: right;
    padding-right: 2vh;
}

a{
    text-decoration: none;
}

.project00 {
    border: 2px solid #ef845e;
    border-radius: 50px;
    line-height: 10vh;
    display: inline-block;
    flex-direction: column;
    justify-content: right;
    align-items: right;
    margin-bottom: 2vh;
    padding: 1vh;
}

.projects {
    margin-right: 3vw;
    margin-left: 2vw;
    margin-top: 5vh;
    line-height: 1vw;
    display: inline-block;
    flex-direction: column;
    align-items: right;
    justify-content: right;
}

.project3 {
    margin-right: 3vw;
    line-height: 1vw;
}

h2:hover{
    filter: grayscale(0%);
    /* box-shadow: 0 5px 15px rgba(145, 92, 182, .7); */
    transition: .5s;
}

a:visited {
    color: #ef845e;
}

h3:hover{
    box-shadow: 0 5px 15px #ef845e;
}