*{
/* margin: 50px; */

}

.header {
    padding-top: 0vw;
    font-size: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: helvetica neue;
    letter-spacing: -1.5px; 
}

h1{
    color: rgb(36, 36, 36);
    text-transform: uppercase;
    font-family: helvetica;
    font-weight: 500;
    font-size: 149px;
    letter-spacing: -6px;
    line-height: 80%;
}

h2{
    color: rgb(36, 36, 36);
    text-transform: uppercase;
    font-family: helvetica;
    font-weight: 300;
    font-size: 120px;
    letter-spacing: -6px; 
    text-align: right;
}

a{
    text-decoration: none;
}

h2:hover{
    filter: grayscale(0%);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .7);
    transition: .5s;
}